@page
@model RazorPageApp.Areas.Manage.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Manage Categories";
    ViewData["ActivePage"] = ManageNavPages.CategoryIndex;
}

<h3>@ViewData["Title"]</h3>
<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="col-12 pb-1">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categories[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>